### DataFrame
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas-dataframe


데이터 프레임을 조작합니다.

In [16]:
import pandas as pd 
import numpy as np

df = pd.DataFrame({
    "col1": np.array([0.4, 0.4, np.nan]),
    "col2": np.array([1, 3, 4]),
})
display_html(HTML("<strong>결측치 제거 전<strong>"))
display(df)
display(HTML("<strong>결측치 제거 후<strong>"))
display(df.dropna())

   col1  col2
0   0.4     1
1   0.4     3
2   NaN     4

   col1  col2
0   0.4     1
1   0.4     3

### Series
https://pandas.pydata.org/docs/reference/series.html#series

데이터 프레임의 열과 행을 구성하는 객체입니다.

In [30]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(
    np.random.random(size=(2, 2)),
    columns=["col1", "col2"])
print(type(df.col1))
print("-"*40)
display_markdown(Markdown(df.col1.to_markdown()))

<class 'pandas.core.series.Series'>
----------------------------------------

|    |     col1 |
|---:|---------:|
|  0 | 0.32439  |
|  1 | 0.936437 |